body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
}

.center {
    position: relative; text-align: center;
}

.number {
    font-size: 20px;
    width: 100px;
    height: 25px;

    background: #bbbbbb;
}

.uch {
    border-radius: 10px;
}

.te {
    border: 2px dotted #ff0000;
}
