body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
}

.center {
    position: relative; text-align: center;
}

.number {
    font-size: 20px;
    width: 100px;
    height: 25px;

    background: #bbbbbb;
}

.uch {
    border-radius: 10px;
    height: 275px;
}

.te {
    border: 2px dotted #ff0000;
}

.photo {
    height: 350px;
}

.border {
    border-radius: 10px;
}

.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 70px;
    display: flex;
    align-items: center;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    color: #000;
    opacity: 0.6;
    text-decoration: none;
    padding: 5px;

}

.navbar-menu li a:hover {
    opacity: 1;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}

.navbar-brand {
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #000;
    transition: all 1s ease-in-out;
}

.navbar-brand:hover {
    color: dodgerblue;
    transition: all .07s ease-in-out;
    transform: scale(1.04);
}

#reg {
    background-color: coral;
    border-radius: 100px;
    color: #fff;
    transition: all 0.3s ease-in;
    box-shadow: 0 4px 6px rgba(255, 127, 80, .2);
}

#reg:hover {
    transform: scale(1.04);
    color: #fff;
    box-shadow: 0 9px 9px rgba(255, 127, 80, .5);
}

#events {
    color: #000;
    transition: all 0.3s ease-in-out;
}

#events:hover {
    transform: scale(1.04);
}

#callback {
    color: #000;
    transition: all 0.3s ease-in-out;
}

#callback:hover {
    transform: scale(1.04);
}
